// CSS Global para la Aplicación:
    
.item-border-radius-40
    border-radius: 40px;

// CCS para la pantalla de precios
.luggage 
{
    width: 100px;
    height: 100px;
}

.luggageText
    font-size: 15px;

#commentaryText
    font-size: 30px;
    margin-right: 50px; 

.header
    font-size: 30px;

#scrollAreaDiv
    width: 500px;
    border: 1px solid black;
    border-radius: 20px;

.formText
    font-size: 1.2em;

.input-registers
    height: 20px !important;

.mi-account-label
    font-size: 20px;
.mi-account-value
    font-size: 15px;

